RajawaliVuforia/bin/
RajawaliVuforia/gen/rajawali/vuforia/BuildConfig.java
RajawaliVuforia/obj/local/armeabi-v7a/libFrameMarkers.so
RajawaliVuforia/obj/local/armeabi-v7a/libQCAR.so
RajawaliVuforia\obj/
RajawaliVuforia\obj\local/
*.o
RajawaliVuforiaExample/bin/classes/com/example/rajawalivuforiaexample/BuildConfig.class
RajawaliVuforiaExample/bin/
RajawaliVuforiaExample\gen/
RajawaliVuforia/obj/local/armeabi-v7a/libRajawaliVuforia.so
RajawaliVuforia/obj/local/armeabi-v7a/libRajawaliVuforiaLib.so
RajawaliVuforia/obj/local/armeabi-v7a/libstdc++.a
RajawaliVuforia/obj/local/armeabi-v7a/objs/FrameMarkers/FrameMarkers.o.d
RajawaliVuforia/obj/local/armeabi-v7a/objs/FrameMarkers/SampleUtils.o.d
RajawaliVuforia/obj/local/armeabi-v7a/objs/RajawaliVuforia/RajawaliVuforia.o.d
RajawaliVuforia/obj/local/armeabi-v7a/objs/RajawaliVuforia/SampleUtils.o.d
RajawaliVuforia/obj/local/armeabi-v7a/objs/RajawaliVuforiaLib/RajawaliVuforiaLib.o.d
RajawaliVuforia/obj/local/armeabi-v7a/objs/RajawaliVuforiaLib/SampleUtils.o.d
RajawaliVuforia/obj/local/armeabi/libFrameMarkers.so
RajawaliVuforia/obj/local/armeabi/libQCAR.so
RajawaliVuforia/obj/local/armeabi/libRajawaliVuforia.so
RajawaliVuforia/obj/local/armeabi/libRajawaliVuforiaLib.so
RajawaliVuforia/obj/local/armeabi/libstdc++.a
RajawaliVuforia/obj/local/armeabi/objs/FrameMarkers/FrameMarkers.o.d
RajawaliVuforia/obj/local/armeabi/objs/FrameMarkers/SampleUtils.o.d
RajawaliVuforia/obj/local/armeabi/objs/RajawaliVuforia/RajawaliVuforia.o.d
RajawaliVuforia/obj/local/armeabi/objs/RajawaliVuforia/SampleUtils.o.d
RajawaliVuforia/obj/local/armeabi/objs/RajawaliVuforiaLib/RajawaliVuforiaLib.o.d
RajawaliVuforia/obj/local/armeabi/objs/RajawaliVuforiaLib/SampleUtils.o.d
